@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    font-family: 'Cookie', cursive;
}

header, footer, .btn, .lead {
    font-size: 30px;
}

.title {
    font-size: 70px;
}

h3 {
    font-weight: bold;
}

.menu-admin, .formUser, h5, .link_comment, .horaires, .comment, .form_comment {
    font-size: 25px;
}

.link_comment, h3, h5, .title {
    font-style: italic;
}
